<div id="main_wrapper">
    <div class="banner_gradient">
        <div class="banner">
            <div class="button_bg">
                <h1>Looking after your health and wellbeing</h1>
                <button type="button" class="shop_btn">Shop Now</button>
                <div class="border"></div>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu convallis libero, a tincidunt eros. Aliquam porttitor quis ante ut faucibus. Nunc eget tristique ligula. Vivamus hendrerit, nulla mollis aliquet bibendum, sem tortor facilisis urna, sed egestas nulla neque at urna. Fusce efficitur sem nunc, id euismod purus accumsan vitae. Nam sed lorem leo. Quisque eget tempor neque. Suspendisse commodo at dolor at aliquet. </p>
    </div>
</div>

